/*Main page*/
.root
{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.mainpage-root
{
    width: 100%;
    height: 100%;

    background-color: rgb(16, 23, 31);
}

.mainpage-header
{
    height: 50px;
    width: 100%;
    display: grid;
    align-items: center; 

    background-color: rgb(174,242,225);
}

.mainpage-form-header
{
    padding-top: 0px;
    padding-bottom: 0px;

    color: black;
    text-align: center;
    font-size: 28px;
    font-family: gilroy-regular, Helvetica, Arial, sans-serif;

    background-color: rgb(174,242,225);
}

.mainpage-form
{
    height: 100%;
    background-color: rgb(180,180,180);
}

.mainpage-upperpanel
{
    display: grid;
    grid-auto-flow: row;

    align-content: center;

    width: 100%;
    height: 110px;

    background-image: url(imgs/panel.png);
}

.mainpage-label
{
    display: inline-block;
    width: 160px;

    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;

    text-align: left;
    color: aliceblue;
}

.mainpage-label-player
{
    display: inline-block;
    width: 160px;

    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;

    text-align: left;
    color: black;
}

.mainpage-label-chatterscount
{
    display: inline-block;
    width: 1000px;

    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;

    text-align: left;
    color: aliceblue;
}

.mainpage-label-right
{
    display: inline-block;
    width: 160px;

    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;

    text-align: right;
    color: aliceblue;
}

.mainpage-label-block
{
    display: block;

    margin-left: 5px;

    text-align: left;
    color: aliceblue;
}


.mainpage-status-on
{
    display: inline-block;
    width: 50%;

    font-weight: bold;
    text-align: left;
    color: rgb(82, 212, 82);
}

.mainpage-status-off
{
    display: inline-block;
    width: 50%;

    font-weight: bold;
    text-align: left;
    color: rgb(247, 36, 36);
}

.mainpage-button
{
    width: 20%;
    height: 50px;

    text-align: center;
    font-family: gilroy-bold, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: black;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    margin-right: 40%;

    border: solid 3px;

    border-top-color: rgb(232,232,232);
    border-left-color: rgb(232,232,232);
    border-right-color: rgb(60,60,60);
    border-bottom-color: rgb(60,60,60);

    background-color: rgb(180,180,180);
}

.mainpage-button:hover
{
    background-color: rgb(200,200,200);
}

.mainpage-button:active
{
    border-bottom-color: rgb(232,232,232);
    border-right-color: rgb(232,232,232);
    border-left-color: rgb(60,60,60);
    border-top-color: rgb(60,60,60);
    background-color: rgb(120, 120, 120);
    color: rgb(60,60,60);
}

.mainpage-button:disabled
{
    background-color: rgb(50,50,50);
    color: rgb(180,180,180);
}

.mainpage-games-panel
{
    display: grid;
    grid-auto-flow: column; /* column flow */
    background-color: rgb(180,180,180);
}

.mainpage-games-panel-column
{
    background-color: rgb(180,180,180);
}

.winpage-root
{
    width: 100%;
    height: 100%;

    background-color: rgb(180, 180, 180);
}

.winpage-label01
{
    display: block;

    margin-top: 5px;

    font-family: gilroy-regular, Helvetica, Arial, sans-serif;

    text-align: center;
    font-size: 32px;

    color: black;
    background-color: rgb(180,180,180);
}

.winpage-winner
{
    display: block;

    margin-top: 10px;
    margin-bottom: 10px;

    font-family: gilroy-bold, Helvetica, Arial, sans-serif;

    text-transform: uppercase;
    text-align: center;

    font-size: 48px;

    color: black;

    animation: winpageWinnerOpacity 1s;
    animation-iteration-count: 1;
}

.winpage-timer-panel
{
    height: 108px;
    padding-top: 7px;

}

.winpage-timer
{
    display: block;

    font-family: gilroy-bold, Helvetica, Arial, sans-serif;

    text-transform: uppercase;
    text-align: center;

    font-size: 72px;

    color: black;

    
    animation: winpageWinnerOpacity 1s;
    animation-iteration-count: 1;

    background-image: url(imgs/panel_timer.png);
    
}

@keyframes winpageWinnerOpacity {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.winpage-label02
{
    display: block;

    margin-top: 5px;

    font-family: Helvetica, Arial, sans-serif;

    text-align: center;
    font-size: 16px;

    color: black;
    background-color: rgb(180,180,180);
}

.wingape-buttons-panel
{
    display: block;
    background-color: rgb(180,180,180);
}

.winpage-button-left
{
    display: inline-block;
    width: 25%;
    height: 50px;

    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 20%;

    padding: 0px;

    text-align: center;
    font-family: gilroy-bold, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: black;

    border: solid 3px;

    border-top-color: rgb(232,232,232);
    border-left-color: rgb(232,232,232);
    border-right-color: rgb(60,60,60);
    border-bottom-color: rgb(60,60,60);

    background-color: rgb(180,180,180);
}

.winpage-button-left:hover
{
    background-color: rgb(200,200,200);
}

.winpage-button-left:active
{
    border-bottom-color: rgb(232,232,232);
    border-right-color: rgb(232,232,232);
    border-left-color: rgb(60,60,60);
    border-top-color: rgb(60,60,60);
    background-color: rgb(120, 120, 120);
    color: rgb(60,60,60);
}

.winpage-button-left:disabled
{
    background-color: rgb(50,50,50);
    color: rgb(180,180,180);
}

.winpage-button-right
{
    display: inline-block;
    width: 25%;
    height: 50px;

    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 5%;

    padding: 0px;

    text-align: center;
    font-family: gilroy-bold, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: black;

    border: solid 3px;

    border-top-color: rgb(232,232,232);
    border-left-color: rgb(232,232,232);
    border-right-color: rgb(60,60,60);
    border-bottom-color: rgb(60,60,60);

    background-color: rgb(180,180,180);
}

.winpage-button-right:hover
{
    background-color: rgb(200,200,200);
}

.winpage-button-right:active
{
    border-bottom-color: rgb(232,232,232);
    border-right-color: rgb(232,232,232);
    border-left-color: rgb(60,60,60);
    border-top-color: rgb(60,60,60);
    background-color: rgb(120, 120, 120);
    color: rgb(60,60,60);
}

.winpage-button-right:disabled
{
    background-color: rgb(50,50,50);
    color: rgb(180,180,180);
}

.winpage-winnerchat-panel
{
    display: grid;
    grid-auto-flow: row; /* column flow */
    background-color: rgb(180,180,180);
}

.winpage-chat-label
{
    display: inline-block;
    width: 1920px;

    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;

    text-align: left;
    color: black;
}

@font-face {
    font-family: gilroy-regular;
    src: url(fonts/GILROY-REGULAR.OTF);
    font-style: normal;
    font-weight: 10;
}

@font-face {
    font-family: gilroy-bold;
    src: url(fonts/GILROY-BOLD.OTF);
    font-style: normal;
    font-weight: 100;
}